.root {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.header {
  padding: var(--yr-s) var(--xr);
  font-size: calc(var(--yr) * 4);
  font-weight: 700;
}

.messages {
  padding: var(--yr-s) var(--xr);
  margin-top: auto;
}
