.root {
  display: flex;
  height: 100%;
}

.workspace {
  align-self: center;
  margin: 0 auto;
  padding: 0 var(--xr);
}

.in,
.button {
  appearance: none;
  display: block;
  color: rgb(var(--theme-fg-primary-color));
  box-shadow: inset 0 0 0 1px rgb(var(--theme-sp-color));
  border: 0;
  outline: none;
  border-radius: var(--yr);
  font-size: calc(var(--yr) * 6);
  line-height: calc(var(--yr) * 8);
  padding: var(--yr-xs) var(--xr);
  margin: 0;
  width: 100%;
}

.in {
  background: rgb(var(--theme-bg-primary-color));
  margin: 0 0 var(--yr-m);
}

textarea.in {
  resize: none;
}

.button {
  cursor: pointer;
  background: rgb(var(--theme-bg-secondary-color));
  width: 100%;
}

.button:disabled {
  opacity: 0.3;
}

.add {
  /* display: flex; */
}
