.root {
  padding: var(--yr-m) var(--xr);
}

.item {
}

.link {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  color: rgb(var(--theme-fg-primary-color));
  text-decoration: none;
  padding: var(--yr-xs) var(--xr);
  border-radius: 2px;
  color: rgb(var(--theme-fg-primary-color));
}

.link.active {
  background: rgba(var(--theme-bg-secondary-color));
}

.link:hover {
  background: rgb(var(--theme-sp-color));
}

.alert {
  position: absolute;
  right: var(--xr);
  top: 50%;
  width: var(--yr);
  height: var(--yr);
  background: red;
  border-radius: 50%;
  opacity: 0;
}

.alert.active {
  opacity: 1;
}

.account {
  margin-top: var(--yr-m);
  display: grid;
  grid-template-columns: calc(var(--yr) * 8) 1fr;
  grid-gap: var(--yr-s);
  text-decoration: none;
  color: inherit;
}

.avatar {
  border-radius: var(--yr);
  overflow: hidden;
}

.avatar img {
  display: block;
  width: calc(var(--yr) * 8);
  height: calc(var(--yr) * 8);
}

.status {
  line-height: var(--fs-at);
  font-size: var(--fs-at);
}

.name {
  font-weight: 700;
}
