.root {
  padding: var(--yr-m) var(--xr);
}

.item {
}

.link {
  display: block;
  color: rgb(var(--theme-fg-primary-color));
  text-decoration: none;
  padding: var(--yr-xs) var(--xr);
  border-radius: 2px;
  color: rgb(var(--theme-fg-primary-color));
}

.link.active {
  background: rgba(var(--theme-bg-secondary-color));
}

.link:hover {
  background: rgb(var(--theme-sp-color));
}

.logout {
  margin-top: var(--yr-m);
  text-align: center;
}
