.message {
  margin-bottom: var(--yr-s);
  display: grid;
  grid-template-columns: calc(var(--yr) * 8) 1fr;
  grid-gap: var(--xr);
}

.image {
  width: calc(var(--yr) * 8);
  height: calc(var(--yr) * 8);
  border-radius: 50%;
  background: rgb(var(--theme-bg-secondary-color));
  overflow: hidden;
}

.image img {
  display: block;
  width: 100%;
  height: 100%;
}

.thread {
  margin-top: var(--yr);
}

.thread button {
  margin: var(--yr) 0 0;
  color: rgb(var(--theme-fg-primary-color));
  appearance: none;
  border: 0;
  background: none;
  padding: var(--yr) var(--xr) var(--yr) var(--yr);
  border-radius: var(--yr);
  font-size: var(--fs-at);
  line-height: var(--lh-at);
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: calc(var(--yr) * -1);
}

.thread button:hover {
  background: rgb(var(--theme-sp-color) / 0.5);
}

.rarr {
  margin-left: var(--yr);
  transition: 0.3s transform;
}

.thread button:hover .rarr {
  transform: translateX(var(--yr));
}

.avs {
  display: flex;
  margin: 0 var(--yr) 0 0;
}

.av {
  width: var(--lh-base);
  height: var(--lh-base);
  background: rgb(var(--theme-sp-color));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgb(var(--theme-bg-primary-color));
}

.av:not(:first-child) {
  margin-left: -10px;
}
